<?xml version="1.0" encoding="utf-8"?><!--suppress AndroidDomInspection -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:ignore="ProtectedPermissions,QueryAllPackagesPermission,DataExtractionRules,MissingApplicationIcon">

    <uses-permission android:name="android.permission.CONTROL_VPN" />
    <uses-permission android:name="android.permission.CONTROL_ALWAYS_ON_VPN" />
    <uses-permission android:name="android.permission.HIDE_NON_SYSTEM_OVERLAY_WINDOWS" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />

    <application
        android:allowBackup="false"
        android:label="VpnDialogs"
        android:usesNonSdkApi="true">

        <activity
            android:name=".ConfirmDialog"
            android:exported="true"
            android:theme="@style/Theme.DeviceDefault.Dialog.Alert.DayNight">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".PlatformVpnConfirmDialog"
            android:excludeFromRecents="true"
            android:exported="true"
            android:noHistory="true"
            android:theme="@style/Theme.DeviceDefault.Dialog.Alert.DayNight" />

        <activity
            android:name=".ManageDialog"
            android:excludeFromRecents="true"
            android:exported="true"
            android:noHistory="true"
            android:permission="android.permission.NETWORK_SETTINGS"
            android:theme="@style/Theme.DeviceDefault.Dialog.Alert.DayNight" />

        <activity
            android:name=".AlwaysOnDisconnectedDialog"
            android:excludeFromRecents="true"
            android:exported="true"
            android:label="@string/always_on_disconnected_title"
            android:noHistory="true"
            android:permission="android.permission.NETWORK_SETTINGS"
            android:theme="@style/Theme.DeviceDefault.Dialog.Alert.DayNight" />

    </application>
</manifest>
